
<div ng-controller="createMasterTradeController" ng-init="initializeController()">

  <br />
   
  <main class="site-main page-main">
    <div class="container">
      <div class="row">
        <section class="page col-sm-9">
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td style="vertical-align:top">
                        <h2 class="page-title">MANAGE MASTER TRADES</h2>
                    </td>
                    <td>

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="TRADETYPE" class="col-sm-3 control-label" style="white-space:nowrap">Trade Type</label>
                                <div class="col-sm-9">
                                    <select ng-model="TRADETYPE" id="selectbasic" name="selectbasic" class="form-control input-md">
                                        <option selected="selected">BASIC</option>
                                        <option>STANDARD</option>
                                        <option>ENTERPRISE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EXCHANGE" class="col-sm-3 control-label" style="white-space:nowrap">Exchange</label>
                                <div class="col-sm-9">
                                    <select ng-model="EXCHANGE" id="selectbasic" name="selectbasic" class="form-control input-md">
                                        <option selected="selected">BASIC</option>
                                        <option>STANDARD</option>
                                        <option>ENTERPRISE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TRADINGPAIR" class="col-sm-3 control-label" style="white-space:nowrap">Market</label>
                                <div class="col-sm-9">
                                    <select ng-model="TRADINGPAIR" id="selectbasic" name="selectbasic" class="form-control input-md">
                                        <option selected="selected">BASIC</option>
                                        <option>STANDARD</option>
                                        <option>ENTERPRISE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BUYQUANTITY" class="col-sm-3 control-label" style="white-space:nowrap">Buy Quantity</label>
                                <div class="col-sm-9">
                                    <div ng-bind="BUYQUANTITY" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="BUYQUANTITY" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="BUYPRICE" class="col-sm-3 control-label" style="white-space:nowrap">Buy Price</label>
                                <div class="col-sm-9">
                                    <div ng-bind="BUYPRICE" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="BUYPRICE" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="BUYTOTAL" class="col-sm-3 control-label" style="white-space:nowrap">Buy Total</label>
                                <div class="col-sm-9">
                                    <div ng-bind="BUYTOTAL" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="BUYTOTAL" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="SELLQUANTITY" class="col-sm-3 control-label" style="white-space:nowrap">Sell Quantity</label>
                                <div class="col-sm-9">
                                    <div ng-bind="SELLQUANTITY" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="SELLQUANTITY" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="SELLPRICE" class="col-sm-3 control-label" style="white-space:nowrap">Sell Price</label>
                                <div class="col-sm-9">
                                    <div ng-bind="SELLPRICE" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="SELLPRICE" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="SELLTOTAL" class="col-sm-3 control-label" style="white-space:nowrap">Sell Total</label>
                                <div class="col-sm-9">
                                    <div ng-bind="SELLTOTAL" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="SELLTOTAL" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="RUNFREQUENCY" class="col-sm-3 control-label" style="white-space:nowrap">Frequency</label>
                                <div class="col-sm-9">
                                    <div ng-bind="RUNFREQUENCY" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="RUNFREQUENCY" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="RUNCOUNT" class="col-sm-3 control-label" style="white-space:nowrap">Run Count</label>
                                <div class="col-sm-9">
                                    <div ng-bind="RUNCOUNT" ng-show="DisplayMode"></div>
                                    <div ng-show="EditMode"><input ng-model="RUNCOUNT" type="text" style="width: 300px" /></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ACTIVE" class="col-sm-3 control-label" style="white-space:nowrap">Enabled</label>
                                <div class="col-sm-9">
                                    <select ng-model="ACTIVE" id="selectbasic" name="selectbasic" class="form-control input-md">
                                        <option>TRUE</option>
                                        <option>FALSE</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <br />
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td style="padding-left:100px;"><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="createMasterTrade()">Create</button></td>
                                        <td style="padding-left:15px; "><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="editMasterTrade()">Edit</button></td>
                                        <td style="padding-left:15px; "><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="updateMasterTrade()">Update</button></td>
                                        <td style="padding-left:15px; "><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="cancelChanges()">Cancel</button></td>
                                    </tr>
                                </table>
                            </div>
                        </form> <!-- /form -->
                    </td>
                </tr>
            </table>

            <div style="padding-top:0px; padding-bottom:0px">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><div ng-bind-html="MessageBox"></div></alert>
            </div>
        </section>


      
      </div>
    </div>
  </main>

</div>
