
<div ng-controller="createContactController" ng-init="initializeController()">
    <br />

    <main class="site-main page-main">
        <div class="container">
            <div class="row">
                <section class="page col-sm-9">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td style="vertical-align:top">
                                <h2 class="page-title">MANAGE CONTACTS</h2>
                            </td>
                            <td>

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="firstName" class="col-sm-3 control-label" style="white-space:nowrap">First Name</label>
                                        <div class="col-sm-9">

                                            <div ng-bind="FirstName" ng-show="DisplayMode"></div>
                                            <div ng-show="EditMode"><input ng-model="FirstName" type="text" style="width: 300px" ng-class="{'validation-error': EmailAddressInputError}" /></div>

                                            <!--<input ng-model="FullName" type="text" id="FullName" placeholder="Full Name" class="form-control">-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName" class="col-sm-3 control-label" style="white-space:nowrap">Last Name</label>
                                        <div class="col-sm-9">

                                            <div ng-bind="LastName" ng-show="DisplayMode"></div>
                                            <div ng-show="EditMode"><input ng-model="LastName" type="text" style="width: 300px" ng-class="{'validation-error': EmailAddressInputError}" /></div>

                                            <!--<input ng-model="FullName" type="text" id="FullName" placeholder="Full Name" class="form-control">-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName" class="col-sm-3 control-label" style="white-space:nowrap">Phone</label>
                                        <div class="col-sm-9">
                                            <div ng-bind="OfficePhone" ng-show="DisplayMode"></div>
                                            <div ng-show="EditMode"><input ng-model="OfficePhone" type="text" style="width: 300px" ng-class="{'validation-error': EmailAddressInputError}" /></div>

                                            <!--<input ng-model="OfficePhone" type="text" id="OfficePhone" placeholder="Phone Number" class="form-control" autofocus>-->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="birthDate" class="col-sm-3 control-label" style="white-space:nowrap">Address</label>
                                        <div class="col-sm-9">
                                            <div ng-bind="Address" ng-show="DisplayMode"></div>
                                            <div ng-show="EditMode"><input ng-model="Address" type="text" style="width: 300px" ng-class="{'validation-error': EmailAddressInputError}" /></div>

                                            <!--<input ng-model="Address" type="text" id="Address" placeholder="Address" class="form-control">-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label" style="white-space:nowrap">Email</label>
                                        <div class="col-sm-9">
                                            <div ng-bind="Email" ng-show="DisplayMode"></div>
                                            <div ng-show="EditMode"><input ng-model="Email" type="text" style="width: 300px" ng-class="{'validation-error': EmailAddressInputError}" /></div>

                                            <!--<input ng-model="Email" type="email" id="Email" placeholder="Email" class="form-control" ng-class="{'validation-error': EmailAddressInputError}">-->
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <br />
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tr>
                                                <td style="padding-left:100px;"><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="createContact()">Create</button></td>
                                                <td style="padding-left:15px; "><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="editContact()">Edit</button></td>
                                                <td style="padding-left:15px; "><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="updateContact()">Update</button></td>
                                                <td style="padding-left:15px; "><button type="submit" style="width:80px" class="btn btn-primary btn-block" ng-click="cancelChanges()">Cancel</button></td>
                                            </tr>
                                        </table>
                                    </div>

                                </form> <!-- /form -->
                            </td>
                        </tr>
                    </table>


                    <div style="padding-top:0px; padding-bottom:0px">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><div ng-bind-html="MessageBox"></div></alert>
                    </div>
                </section>

            </div>
        </div>
    </main>

</div>
